// https://github.com/dimsemenov/PhotoSwipe/issues/1374
$pswp__assets-path: "~photoswipe/src/css/default-skin/";

@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~photoswipe/src/css/main";
@import "~photoswipe/src/css/default-skin/default-skin";

main {
  padding-top: 75px;
}

.flashes {
  list-style-type: none;
}

.gallery {
  figure {
    text-align: center;
  }
}

#dashboardImageTable {
  td {
    height: 100px;
    line-height: 100px;
    text-align: center;

    .preview-image {
      width: 100px;
    }
  }
}
