// https://github.com/dimsemenov/PhotoSwipe/issues/1374
$pswp__assets-path: "~photoswipe/src/css/default-skin/";
$preview-image-size: 100px;

@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~photoswipe/src/css/main";
@import "~photoswipe/src/css/default-skin/default-skin";

main {
  padding-top: 85px;
}

.flashes {
  list-style-type: none;
}

#dashboardImageTable {
  td {
    height: $preview-image-size;
    line-height: $preview-image-size;

    .preview-image {
      width: $preview-image-size;
    }
  }
}
