<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
    <title>Simple Image Gallery</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('index') }}">Simple Image Gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainControl" aria-controls="navbarMainControl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMainControl">
        <ul class="navbar-nav ml-auto">
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('image.upload') }}">Upload</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userAccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="userAccountDropdown">
              <a class="dropdown-item" href="{{ url_for('auth.dashboard') }}">Dashboard</a>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          <li class="nav-item">
            {% if not config['REGISTRATION_DISABLED'] %}<a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>{% endif %}
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}<ul class=flashes>
        {% for category, message in messages %}<li class="alert alert-{{ category }} alert-dismissible">{{ message }}</li>{% endfor %}
      </ul>{% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>

    {% block foot_scripts %}<script src="{{ url_for('static', filename='dist/main.js') }}"></script>{% endblock %}
  </body>
</html>
