{% extends 'base.html' %}

{% block content %}<form method="post" id="albumForm" action="">
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="{{ form.name.id }}">{{ form.name.label }}</label>
    {{ form.name(size=32, class='form-control') }}
    {% if form.name.errors %}<div class="alert alert-danger"><ul>
      {% for error in form.name.errors %}<li>
        {{ error }}
      </li>{% endfor %}
    </ul></div>{% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.description.id }}">{{ form.description.label }}</label>
    {{ form.description(size=255, class='form-control') }}
    {% if form.description.errors %}<div class="alert alert-danger"><ul>
      {% for error in form.description.errors %}<li>
        {{ error }}
      </li>{% endfor %}
    </ul></div>{% endif %}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>{% endblock %}
